* {
    /* background-color: #b07154; */
    margin:0;
    padding:0;

}

:root {
    --vintagegreen:#b4e5af!important;
    --vintageyellow:#e7cf8a!important;
    --vintagebrown:#7a4f3b!important;
    --vintageblue:#2C4E72!important;
}

header {
    background-color: var(--vintagegreen);
    border-bottom: 5px solid var(--vintagebrown);
}
header article {
    font-size: 3rem;
}

header h1 {
    text-align: center!important;
    font-weight:bold;
    font-size:5rem;
    color:var(--vintagebrown);
}
.imgme  {
    position:relative;
    max-width:20%;
}
.navi {
    /* font-size:2rem; */
    padding-top: 50px;
}

nav {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:1.75rem;
    margin:auto;
    /* padding-bottom:50px;
    padding-top:25px; */
    padding:25px 15px 50px 15px;
}

/* body {
    font-size: 50px;
} */



.aboutme {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size:1.5rem;
    background-color: var(--vintageyellow);
    padding:15px 50px;
    border-bottom: 5px solid var(--vintagebrown);
}

.aboutme aside {
    width: 30%;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    float: left;
    font-style: italic;
    color: #000000;
    font-weight:bolder;
    font-size:2.5rem;
    /* font-style: italic; */
    border-right:3px dashed var(--vintagebrown);
    border-bottom:3px dashed var(--vintagebrown);
}

.aboutme aside > p {
    margin: 0.5rem;
}

p {
    /* font-family: 'Fira Sans', sans-serif; */
}

main {
    border-bottom: 5px solid var(--vintagebrown);
}




.img1 {
    max-width:100%;
    margin:center;
}
.img1::hover {
    opacity:50%;
}
.container {
    background-color:var(--vintageblue);
    padding-top:15px;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /* width: 350px; */
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }












footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:1.75rem;
    margin:auto;
    padding-bottom:50px;
    /* padding-top:15px; */
    background-color: var(--vintageyellow);
}
footer article {
    margin:auto;
    font-size:2.5rem;
    padding:15px 0px;
}
footer .contactinfo {
    font-size:2rem;

}
footer article {
    margin-bottom:30px;
}

/* media querys */

@media only screen and (max-width: 1000px) {
    /* body {
      background-color: lightblue;
    } */
    .imgme {
        display:flex;
        justify-content: flex-start;
        max-width:30%;
    }
    nav , .navi {
        display:flex;
        align-content: center;
        justify-content: flex-end;
    }
    .img2, .img3 {
        max-width:50%;
    }
    .img4, .img5 {
        max-width:50%;
    }
}

@media only screen and (max-width: 768px) {
    /* body {
      background-color: lightblue;
    } */
    .img2 {
        max-width:50%;
    }
    .img3, .img4 {
        max-width:50%;
    }
    .img5 {
        max-width:100%;
    }
  }

@media only screen and (max-width: 500px) {
    /* body {
      background-color: lightblue;
    } */
  }
  